<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Conversor de Bases</title>
    <link rel="stylesheet" href="/static/style.css">
    
</head>
<body>
    <h1>Bem-vindo ao Conversor de Bases Numéricas</h1>
    <p>Os sistemas numéricos binário, hexadecimal e octal desempenham um papel fundamental na computação e na eletrônica digital. 
    Cada um deles tem aplicações específicas que facilitam o processamento e a representação de dados.</p>
    <h2>Binário</h2>
    <p>Utilizado por computadores e sistemas digitais para armazenar e processar informações. Todos os dispositivos eletrônicos operam internamente usando apenas os dígitos <strong>0</strong> e <strong>1</strong>, 
    representando estados elétricos ligados e desligados.</p>
    <h2>Hexadecimal</h2>
    <p>Amplamente utilizado para representar endereços de memória, códigos de cores em programação e na depuração de sistemas. Sua compactação torna a leitura de grandes sequências binárias mais eficiente.</p>
    <h2>Octal</h2>
    <p>Embora seja menos comum hoje em dia, era amplamente usado em sistemas antigos e eletrônicos embarcados. Seu uso pode ser encontrado em permissões de arquivos em sistemas UNIX/Linux.</p>
    <nav>
        <a href="/">Início</a> |
        <a href="/grupo">Grupo</a> |
        <a href="/converter">Converter</a>
    </nav>
      
</body>
</html>